/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  font-family: 'Cabin', sans-serif;
}

h2 {
  font-size: 32px;
}

/* Styling */
.rover-header-link {
  color: black;
  margin: 0 5px;
  text-decoration: none;
}

/* Animation */

.rover-hp-container .rover-header-container .rover-header-left .rover-header-image:hover {
  animation: rotatePaws 3s;
}

/* Modal Box */

.modal-box-container {
  display: none;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: white;
  width: 40%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-box .modal-box-close-button {
  margin-left: 5px;
}

.modal-box .modal-box-close-button a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.modal-box .modal-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-box .modal-box-content p{
  font-size: 24px;
}

.modal-box .modal-box-content div{
  background-color: #ff6c6c;
  border-radius: 10px;
  width: 25%;
  height: 25%;
}

.modal-box .modal-box-content div > a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Header Container */

.rover-header-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.rover-header-left {
  display: flex;
  width: 100%;
  align-items: center;
}

.rover-header-link:hover{
  color: #14a96d;
}

.rover-header-right-mobile {
  display: none;
}

.rover-header-right-mobile-menu {
  display: none;
}

.rover-header-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

/* Rover Hero Container */
.rover-hero-container {
  background-image: url("../img/hero.jpg");
  width: 100%;
  height: 400px;
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 0 -45px;
}

.rover-hero-container .rover-hero-title-container {
  margin-left: 20px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rover-hero-titile-container h1 {
  font-size: 42px;
  margin: 0
}

.rover-hero-title-container p {
  font-size: 28px;
  margin: 0 0 20px;
}

.rover-button{
  background-color: #14a96d;
  border-radius: 4px;
  width: 400px;
  height: 30px;
  margin-bottom: 15px;
}

.rover-button .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
}

.rover-button .btn:hover {
  background-color: #36946e;
}

.rover-cta-mobile {
  display: none;
}

/* Rover Facts Container */

.rover-middle-section {
  width: 100%;
  text-align: center;
}

.rover-mobile-hero-container {
  display: none;
}

.rover-two-boxes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rover-two-boxes-container .rover-cta-box {
  margin: 0 80px;
}

.rover-cta-box .rover-protections a{
  color: #14a96d;
  text-decoration: none;
}

.rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-header {
  background-color: #f3e9e9;
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-evenly;
}

.rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-header > img{
  height: 50px;
  width: 50px;
}

.rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-header > p {
  font-size: 24px;
}

.rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-bottom-container {
  text-align: initial;
  line-height: 1.5;

}

.rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-bottom-container .rover-facts li{
  font-size: 22px;
  margin-bottom: 14px;
}

.rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-bottom-container .rover-cta {
  background-color: #14a96d;
  border-radius: 5px;
  height: 25px;
  width: 100%;
}


.rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-bottom-container .rover-cta .rover-cta-btn {
  display: flex;
  text-decoration: none;
  color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-bottom-container .rover-cta:hover {
  background-color: #36946e;
}

/* Rover Action */
.rover-action-shot {
  background-image: url("../img/lady-with-her-dogs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95% 100%;
  display: relative;
  left: 50px;
  top: 50px;
  height: 700px;
  margin-top: 70px;
}

.rover-action-shot .rover-action-quote-container {
  background-color: white;
  line-height: 1.5;
  width: 370px;
  height: 300px;
  padding: 10px 20px;
  position: relative;
  left: 20%;
  top: -10%;
}
.rover-action-shot .rover-action-quote-container .rover-action-dash {
  border: 2px solid aqua;
  width: 25%;
}

.rover-action-shot .rover-action-quote-container p:last-child > a {
  color: #14a96d;
  text-decoration: none;
}

.rover-action-shot .rover-action-quote-container > p, p:last-child {
  font-size: 22px;
}

.rover-action-shot .rover-action-quote-container .rover-quote span {
  font-size: 36px;
}

/* <!--Rover 1-2-3--> */
.rover-123-container h2 {
  text-align: center;
}

.rover-123-container .rover-123-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
}

.rover-123-container .rover-123-item-container .rover-123-item {
  width: 420px;
}

.rover-123-container .rover-123-item-container .rover-123-item div:first-child{
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------Responsive Website---------------------------------------------*/

@media (max-width: 650px) {
  /* Global */
  h2 {
    font-size: 1.5rem;
  }

  /* Modal Box */

  .modal-box {
    height: 18rem;
    width: 17rem;
  }

  /* .modal-box .modal-box-close-button {
    margin-left: 5px;
  } */

  .modal-box .modal-box-close-button a{
    font-size: 1.5rem;
  }

  .modal-box .modal-box-content {
    text-align: center;
  }

  .modal-box .modal-box-content p{
    font-size: 2rem;
  }

  .modal-box .modal-box-content div{
    width: 45%;
    height: 3rem;
  }

  /* Menu Responsive */
  .rover-header-right-mobile-menu {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }

  .show-menu {
    animation: showmenu .5s ease-out;
  }

  .hide-menu {
    animation: hidemenu .5s ease-out;
  }

  .rover-header-right-mobile-menu nav {
    /* animation: showmenu .25s ease-in-out; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3;
  }

  .rover-header-right-mobile-menu nav a {
    color: black;
  }

  /* Header Responsive */
  .rover-header-left > nav {
    display: none;
  }

  .rover-header-right {
    display: none;
  }

  .rover-header-right-mobile {
    display: block;
    border: 1px solid grey;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    padding: 0.5rem 0.5rem 0.25rem;
  }

  /* Hero Titile Responsive */

  .rover-hero-container{
    height: 20rem;
    margin: 0 auto 2rem;
  }

  .rover-hero-container .rover-hero-title-container {
    justify-content: center;
    margin-left: 0.75rem;
    width: 13rem;
  }

  .rover-hero-title-container p {
    font-size: 1.25rem;
  }

  .rover-button {
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .rover-cta {
    display: none;
  }

  .rover-cta-mobile {
    display: block;
  }

  /* <!--Rover Facts Container--> */


  .rover-mobile-hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-bottom: 2rem;
  }

  .rover-mobile-hero-container .rover-mobile-hero {
    width: 90%;
  }

  .rover-middle-section .rover-two-boxes-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: initial;
  }

  .rover-middle-section .rover-two-boxes-container .rover-facts-container > div{
    display: flex;
  }

  .rover-two-boxes-container .rover-cta-box {
    margin: 0 1rem;
  }

  .rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-header {
    display: flex;
    height: 3.5rem;
    justify-content: space-evenly;
  }

  .rover-middle-section .rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-header > img {
    height: 2rem;
    width: 2rem;
  }

  .rover-middle-section .rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-header > p {
    font-size: 0.8rem;
  }

  .rover-middle-section .rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-bottom-container .rover-facts > li{
    font-size: 1rem;
  }

  /* Rover Action */
  .rover-action-shot {
    height: 25rem;
  }

  .rover-action-shot .rover-action-quote-container {
    padding: 0;
    position: initial;
    width: 100%;
    height: 12rem;
  }

  .rover-action-shot .rover-action-quote-container p {
    font-size: 1rem;
  }
  
  .rover-action-shot .rover-action-quote-container .rover-quote span {
    font-size: 1.5rem;
    display: block;
  }

  /* rover-123-container */
  .rover-123-container .rover-123-item-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .rover-123-container .rover-123-item-container .rover-123-item {
    display: flex;
    width: 80%;
  }

  .rover-123-container .rover-123-item-container .rover-123-item > div img {
    height: 5rem;
    width: 4rem;
  }

  .rover-123-container .rover-123-item-container .rover-123-item:last-child div img {
    width: 4rem;
    height: 4rem;
  }

  .rover-123-container .rover-123-item-container .rover-123-item div:last-child {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 0;
  }

  .rover-123-container .rover-123-item-container .rover-123-item div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

/* Animation for Responsive */

@keyframes showmenu {
  0%{
      opacity: 0%;
  }

  100%{
    opacity: 100%;
  }
}

@keyframes hidemenu {
  0%{
    opacity: 100%;
  }

  100%{
    opacity: 0%;
  }
}

@keyframes rotatePaws {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1250px) {
  /* Rover Facts */
  .rover-two-boxes-container .rover-cta-box .rover-cta-container .rover-cta-bottom-container .rover-cta {
    margin: 0 0.7rem;
  }

  /* Rover 123 */
  .rover-123-container .rover-123-item-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
  }
}